@model WebApp.ViewModels.CustomersViewModel

<script src="~/js/index.js" asp-append-version="true"></script>

@Html.HiddenFor(model => model.IsCustomerRemoved)

<div class="uk-flex">
    <div class="uk-width-5-6">
        <p class="uk-margin-small-bottom">Number of customers: @Model.Customers.Count()</p>
    </div>
    <div class="uk-width-1-6">
        <a href="/Customer/Add" class="uk-margin-small-right" uk-icon="plus" uk-tooltip="New customer"></a>
    </div>
</div>
<hr />

<dl class="uk-description-list uk-description-list-divider">
    @foreach (var customer in Model.Customers)
    {
        <dt class="">@customer.Name @customer.Surname</dt>
        <dd>
            <div class="uk-flex uk-container-center">
                <div class="uk-width-5-6">
                    <div class="uk-margin-small-top">
                        @customer.TelephoneNumber
                    </div>
                    <div>
                        @customer.Address
                    </div>
                </div>
                <div class="uk-width-1-6">
                    <ul class="uk-iconnav">
                        <li><a href="/Customer/Edit/@customer.Id" uk-icon="icon: file-edit" uk-tooltip="Edit customer"></a></li>
                        <li><a id="remove-modal-confirm" customer-id="@customer.Id" uk-icon="icon: trash" uk-tooltip="Remove customer"></a></li>
                    </ul>
                </div>
            </div>
        </dd>
    }
</dl>