@model CustomerService.Api.ViewModels.EditCustomerViewModel
@{
    ViewData["Title"] = "Edit customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<form asp-action="edit" method="post">
    <fieldset class="uk-fieldset">
        @Html.HiddenFor(model => model.Id)

        <div class="uk-margin">
            <input class="uk-input" type="text" name="Name" value="@Model.Name">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="Surname" value="@Model.Surname">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="TelephoneNumber" value="@Model.TelephoneNumber">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="Address" value="@Model.Address">
        </div>

        <div class="uk-margin-medium-top">
            <input type="submit" value="Save" class="uk-button uk-button-default" />
        </div>
        <div class="uk-margin-medium-top">
            <a class="uk-link-muted" asp-action="Index">Go back</a>
        </div>
    </fieldset>
</form>